<!doctype html>
<html>
	<head>
		<title>My Page</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/jquery.mobile-1.3.1.css" />
		<link rel="stylesheet" href="stylesheets/themes/purple.min.css" />
		<script src="js/jquery-1.10.2.js"></script>
		<script src="js/jquery.mobile-1.3.2.js"></script>
		<script src="js/test.js"></script>
		<script src="js/utils.js"></script>

	</head>
	<body>
		<!-- homepage -->
		<div data-role="page" id="home">
			<div class="user_header" data-role="header" data-nobackbtn="true">
				<h1>BigBox</h1>
				<script type="text/javascript">
$.ajax({
url : "/",
contentType : "application/json",
success : function(data, textStatus, jqXHR) {
console.log("User is: " + data);
$(".user_header").append('<a href="#login" data-rel="page"  class="ui-btn-left"\
style="color: #FFFFFF" >Welcome ' + data + '!   </a>');

},
error : function(data, textStatus, jqXHR) {
console.log("try again");

}
});

				</script>

				<a href="/logout" data-rel="page"  class="ui-btn-right" >Log Out </a>

			</div>

			<div align="center">
				<img src="images/generic_background.png"/>
			</div>
			<div align="center"  class="home_tagline">
				Service sharing from anywhere
			</div>
			<a href="#search">Search</a>
		</div>
		</div>

		<!-- Search page -->
		<div id ="search" data-role="page">
			<div data-role="header" data-theme="a" data-position="fixed">
				<h1>Items</h1>
			</div>
			<div data-role="content">
				<h3 style="text-align: center">Items for Sales</h3>
				<ul id="items-list" data-role="listview" data-inset="true"></ul>

			</div>
		</div>
	</body>

</html>